Jarvis 2.1 build/Get_Zoom_Meetings.json
{
  "name": "Get Zoom Meetings",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            },
            {
              "name": "accessToken"
            },
            {
              "name": "sessionID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -160
      ],
      "id": "c10c9ec7-07c7-4237-be0d-4bdf13ba732b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=chatInput:\n{{ $json.chatInput }}\n\naccessToken:\n{{ $json.accessToken }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You search for Zoom meetings based on the user query.\n\nToday's date is {{ $now }}\n\nThe variables you need to fill in are fromDate, toDate, and accessToken.\n\nThe accessToken is provided to you by the user.\n\nYou need to determine based on the user query when you need to search events from and to.\n\nZoom only allows for searching events up to one month out.\n\nThe fromDate and toDate you decide, based on the user's request, you'll need to pass in this format: YYYY-MM-DD\n\nYou are to output in the following JSON object format:\n\n{\n  \"accessToken\": \"Access token here\",\n  \"fromDate\": \"from Date here\",\n  \"toDate\": \"to Date here\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -100,
        -160
      ],
      "id": "9759e7ab-0918-4253-8520-59ff00f55e62",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"accessToken\": \"Access token here\",\n  \"fromDate\": \"from Date here\",\n  \"toDate\": \"to Date here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        180,
        80
      ],
      "id": "98303e18-b826-4855-9e8c-6edf5d0e89ee",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        60
      ],
      "id": "a6a3c3fb-638c-4097-aeb0-0741f4065948",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kUZREqFByXLkSovc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        100
      ],
      "id": "c1d66ff4-58a2-4c4e-9e0d-bc89a3bcf4d7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://api.zoom.us/v2/users/me/meetings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "upcoming"
            },
            {
              "name": "page_size",
              "value": "15"
            },
            {
              "name": "from",
              "value": "={{ $json.output.fromDate }}"
            },
            {
              "name": "to",
              "value": "={{ $json.output.toDate }}"
            },
            {
              "name": "timezone",
              "value": "America/Denver"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When Executed by Another Workflow').item.json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -160
      ],
      "id": "d089207c-f722-4952-9aa4-b36a57f1c620",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": "Deleting Zoom meeting for 'Bad Asses Rise Up' event.",
          "accessToken": "eyJzdiI6IjAwMDAwMiIsImFsZyI6IkhTNTEyIiwidiI6IjIuMCIsImtpZCI6IjE2NzRlNzhkLTdlN2ItNDlhYS1iZjBiLWY5N2VhZDRhODc0NSJ9.eyJhdWQiOiJodHRwczovL29hdXRoLnpvb20udXMiLCJ1aWQiOiJwWHo2RUk1TVRoS0Fyc0xCWWhGMGdBIiwidmVyIjoxMCwiYXVpZCI6IjE4NGQyM2NlM2ZkYjQ1OTI2YWZkNGU2NWJkYTZjN2JkYzQwYWE1YjYzNjJjZmFlMmNhNzQ0MzA2YjQ4MjU5MmQiLCJuYmYiOjE3NDM4OTc0MDksImNvZGUiOiIyZ0o5Zjdud1NvMkJSem8zd0dObEV3ZDhxTExMOXdLY1giLCJpc3MiOiJ6bTpjaWQ6aE9hUGRUeHZRR19SaE5PYkxJeFpnIiwiZ25vIjowLCJleHAiOjE3NDM5MDEwMDksInR5cGUiOjMsImlhdCI6MTc0Mzg5NzQwOSwiYWlkIjoiUWhzc0FkbF9RQXVrUHBtbE1WUzdYUSJ9.82AbKM_hifbLWqxkhgXKt0R7juzhNTdvd1zn7PGRV5nLDs8ayVorIBv_aaFm7MZOql5pAB3fp640zFWz6MMFWA",
          "sessionID": ""
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Denver",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "errorWorkflow": "kEju4JO99nYIlpZD"
  },
  "versionId": "bf0748f7-ba84-4b78-8dcb-872dd990987e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "696224a686e88ec6c442ca70c78d9445eef41f1e409d04ad6442e010c75ae997"
  },
  "id": "Sq8SBlng0PNgFhYp",
  "tags": [
    {
      "createdAt": "2025-04-05T02:53:25.518Z",
      "updatedAt": "2025-04-05T02:53:25.518Z",
      "id": "wj3of2zczT4SKdiG",
      "name": "Zoom"
    }
  ]
}